body{
    font-family: 'Roboto', sans-serif;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#627d4d+0,1f3b08+100;Olive+3D */
background: #627d4d; /* Old browsers */
background: -moz-linear-gradient(top,  #627d4d 0%, #1f3b08 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #627d4d 0%,#1f3b08 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #627d4d 0%,#1f3b08 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=0 ); /* IE6-9 */

}
div{
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 2px solid red;
    color: black;
}

.background_clip{
    background-color: black;
    background-clip: content-box;
}

.background_origin{
    background-image: url('icon.png');
    background-repeat: no-repeat;
    background-color: skyblue;
    background-origin: content-box;
}

.background_size{
    background-image: url('icon.png');
    background-repeat: no-repeat;
    background-color: rgb(58, 148, 106);
    background-size: 100%;
}

.box_shadow{
    color: black;
    background-color: slategrey;
    box-shadow: teal 3px 12px 22px, 0px 0px 18px rgb(29, 29, 110) inset ;
    text-shadow: red -15px -11px 0px;
    border-radius: 28px;
}

.transicao1{
    transition-property: width;
    transition-duration: 5s;
    transition-timing-function: linear;
    transition-delay: 0.5s;

    /* transition: width 5s linear 0.5s  pode ser feito na mesma linha */
}

.transicao1:hover{
    width: 300px;
}

.transicao2{
    transition: width 2s linear 0.5s, height 4s linear;
}

.transicao2:hover{
    width: 300px;
    height: 300px;
}

.rotate{
    color: brown;
    transform: rotate(30deg);
}

.translate{
    color: brown;
    transform: translate(20px, 10px);
}

.scale{
    color: black;
    transform: scale(1.5, 1);
}

.skew{
    color: black;
    transform: skew(10deg, 17deg);
}

/*
1 scale horizontal
2 rotate
3 skew horizontal
4 scale vertcal
5 translate horizontal
6 translate vertical
*/

.matrix{
    color: black;
    transform: matrix(1.0, 0.8, 0, 1.0, 20, 40);
}

.rotate_x{
    color: black;
    transform: rotateX(160deg);
}

.rotate_y{
    color: black;
    transform: rotateY(180deg);
}

.rotate_z{
    color: black;
    transform: rotateZ(90deg);
}

.perspectiva_fora{
    position: relative;
    height: 150px;
    width: 150px;
    margin: 50px;
    padding: 10px;
    border: 1px solid purple;
    perspective: 160px;
}

.perspectiva_dentro{
    width: 50px;
    height: 50px;
    padding: 48x;
    position: absolute;
    border: 1px solid red;
    background: black;
    transform: rotateX(45deg);
}

.backface_hidden{
    backface-visibility: hidden;
}

.backface_visible{
    backface-visibility: visible;
}

@-webkit-keyframes rodar{
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rodar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.animation{
    -webkit-animation-name: rodar;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;

    animation-name: rodar;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -webkit-animation: rodar 1s linear infinite alternate */