*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}
body{
    margin: 0;
    padding: 0;
}

/* BACKGROUND*/
#bg{
    background-color: red;
    background-image: url('../bg.png');    
}

#bg main{
    width: 100%;
    height: 1000px; 
}

#bg main .elemento{
    width: 600px;
    height: 500px;
    background-color: aqua;
    background-image: url('../bg.png');
    background-repeat: no-repeat;
    background-size: 300px 300px;
}

/* FONTS*/
#fonts h1{
    font-variant: small-caps;
    text-align: center;
    text-decoration: lightcoral underline;
    color: seagreen;
}
#fonts p{
    font-family: Georgia, serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;

    color: rgb(20, 28, 51);
    text-align: justify;
    text-indent: 30px;
    line-height: 35px;
    text-transform: initial;
    word-spacing: 10px;

}

/* LINKS */

#links a:link{
    text-decoration: lightslategray underline;
    color: lightslategray;

}

#links a:visited{
    color: lime;
}

#links a:active{
    color: mediumslateblue;
}

#links a:hover{
    color: midnightblue;
}


/*LISTAS*/
#listas ul{
    list-style-image: url('../icon-check.png');
    list-style-position: initial;

}


/*BOX-MODEL*/
#boxmodel .display, #boxmodel .visibility{
    width: 220px;
    height: 500px;
    background-color: khaki;
    padding: 10px;
    border-width: 10px 15px 10px 15px;
    border-style: solid;
    border: 5px solid chocolate;
    margin: 10px;
    margin-top: 100px 50px 150px 100px;
}

#boxmodel .display{
    display: visible; 
    /*"none" para não apaerecer no código*/
}

#boxmodel .visibility{
    visibility: visible;
    /*"hidden" para não aparecer só na tela*/
}


/*POSITION*/
#position nav{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: lightcoral;
    z-index: 3;
}  

#position main{
    width: 100%;
    height: 1000px;
    position: relative;
    background-color: lightslategrey;    
    z-index: 2;
}

#position div{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: lightgreen;
    z-index: 1;
    left:50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;

}

/*FLOAT*/
#float nav{
    float: left;
    width: 300px;
    height: 100px;
    background-color: lightsalmon;
}

#float main{
    float: right;
    width: 300px;
    height: 200px;
    background-color: lightseagreen;
}

#float .floatleft{
    float: left;
    width: 100px;
    height: 50px;
    background-color: lightslategray;
    border: 1px solid black;
}

#float .clear{
    clear: both;
}


/* SELETOR COMPLEXO*/
#seletor_complexo h1 + p{
    color: red;
}

#seletor_complexo h1 + p + p{
    color: lightgreen;
}

#seletor_complexo a[href]{
    color: lightseagreen;
}

#seletor_complexo a[href="http://wwww.4linux.com.br"]{
    color: orangered;
}

/* ex: a[href~="x" >valor é uma lista separadda por espaço
a[href^="x"  >cujo valor começa exatamente com string "x"
a[href$="x"  >cujo valor termina exatamente com string "x"
a[href*="x"  >cujo valor contenha a string "x"  */

#seletor_complexo div p > a{
    color: lime;
}

#seletor_complexo input:checked{
    height: 50px;
    width: 50px;
}

/*PSEUDO-CLASSE*/
#pseudoclasse table tr:nth-child(odd){
    background-color: palegreen;
} 

#pseudoclasse table tr:nth-child(even){
    background-color: plum;
}

#pseudoclasse p:empty{
    width: 100px;
    height: 20px;
    background-color: rgb(20, 28, 51);
}

#pseudoclasse input:disabled{
    background-color: salmon;
}

#pseudoclasse input:enabled{
    background-color: black;
}


/* PSEUDO-CLASSE 2*/
#pseudoclasse2 h1:first-child{
    background-color: cadetblue;
}

#pseudoclasse2 h1:last-child{
    background-color: chartreuse;
}

#pseudoclasse2 p:first-of-type{
    background-color: darkgoldenrod;
} 

#pseudoclasse2 p:last-of-type{
    background-color: darksalmon;
}

#pseudoclasse2 p:nth-child(3){
    background-color: deeppink;
}

#pseudoclasse2 p:nth-of-type(3){
    background-color: forestgreen;
}

#pseudoclasse2 p:not(.paragrafo){
   color: goldenrod;
}

#pseudoclasse2 p::first-letter{
    font-size: 25px;
    color: indianred;
}

#pseudoclasse2 p::first-line{
        color: khaki;
}

#pseudoclasse2 p::before{
    content: "Leia este paragrafo:";
}

#pseudoclasse2 p::after{
    content: "Lembrar disso.";
}





